
.site-footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #e9b77c !important; /* override background image gradient w/ flat color */
    margin-top: 20px;
    padding: 20px;
  }

  .copyright{
      display: inline-block;
  }

  .admin{
    float: right;
    color: black;
    cursor: pointer;
  }
  