.itemCard {
    margin-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.card-img-top {
    align-self: center;
    height: auto;
    max-height: 200px;
    width: auto;
    max-width: 200px;
    margin: 0px;
}