/* override bootstrap navbar colors */
.navbar,
.navbar-default {
    background-color: #e9b77c !important; /* override background image gradient w/ flat color */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);

}

.nav-link.cart-icon {
    position: relative;
    margin-left: auto !important;
}

.item-count{
    position: absolute;
    background-color: grey;
    border-radius: 25px;
    font-size: 10px;
    top: 3px;
    right: 3px;
    width: 12px;
}

